<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <style>
     div.title {font-weight:bold;}
     div.quote {background-color:#E8E8E8;padding:10px;border:1px solid #888}
     body {font-size:%dpx;word-break:break-all;color:#000000}
     img { max-width:100%% }
     h5 { font-size:22px;color:#D00000}

     span.author_title {font-size:16px;}
     span.author_sub {font-size:15px;color:#C4BEAE; }
     img.author_avatar {float:left;width:48px;height:48px;border-radius:48px; }
     img.author_device {width:12px;height:12px}
    </style>
</head>
<body>%s</body>
</html>